{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
        {% include "includes/_navbar.html.twig" %}
        <div class="pr-home-image">
            <img src="{{ asset('build/images/LogoPRentier.png') }}" alt="Logo Poupette et Ronron"
                 class="pr-logoEntier-home pr-anim-logoEntier">
        </div>

        <section class="pr-container-txt pr-anim-bienvenue">
            <h1 class="">BIENVENUE</h1>
            <p>Poupette et Ronron vous propose une nouvelle expérience pour déguster votre pizza.</p>
            <p>P&R prépare des pizzas “pala alla romana”. Une pizza rectangulaire, à la pâte épaisse
                mais aérée, moelleuse et croustillante. La pâte est fermentée avec du levain naturel, ce qui contribue à
                sa saveur distinctive et à sa légèreté.</p>
            <p>Chez Poupette et Ronron, nous vous proposons des pizzas à la part, vous pouvez choisir
                un mix de vos préférées.</p>
        </section>
        <div class="pr-background-divider-home">
            <h2 class="pr-color-paper pr-dropshadow-slate ">PLUS DE GOURMANDISE</h2>
        </div>
        <section class="pr-container-txt">
            <h2 class="pr-animation-menu">NOS MENUS</h2>
            <p>Chez Poupette et Ronron, on fait des pizzas, mais pas que ! Nous vous préparons aussi des desserts qui
                parfois vous feront venir que pour ça ! A déguster seul, ou dans un de nos menus.</p>
            <p>Nos menus vous proposent 1 à 4 éléments à composer selon vos goûts.</p>

            <div class="pr-cadre">
                <img src="{{ asset('build/images/element1.png') }}" alt="" class="pr-1element">
            </div>

            <p>Nous vous proposons 4 menus. Ils sont composés de 1, 2, 3, ou 4 éléments + une boisson sans alcool</p>

            <div class="pr-cadre">
                <img src="{{ asset('build/images/menus4.png') }}" alt="" class="pr-menus">
            </div>

            <div class="d-flex justify-content-center">

                <a href="{{ path('app_carte') }}">
                    <button class="btn pr-button-orange" type="submit">
                        <h4 class="m-0 p-0 pr-color-paper">La carte</h4>
                    </button>
                </a>
            </div>

        </section>


    </div>

{% endblock %}