<form method="post" action="{{ path('app_hours_delete', {'id': openingHours.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette horaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ openingHours.id) }}">
    <button class="btn pr-button-orange">Supprimer</button>
</form>