<form method="post" action="{{ path('app_food_delete', {'id': food.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce plat/menu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ food.id) }}">
    <button class="btn pr-button-orange">Supprimer</button>
</form>