<form method="post" action="{{ path('app_beverage_delete', {'id': beverage.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette boisson ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ beverage.id) }}">
    <button class="btn pr-button-orange">Supprimer</button>
</form>