<div class="d-flex justify-content-center">
<img src="{{ asset('build/images/LogoPRentier.png') }}" alt="Logo Poupette et Ronron"
     class="pr-logoEntier-admin">
</div>


<h4 class="pr-color-paper mt-1">Bonjour Julien</h4>
<a href="{{ path('app_home') }}"><h6 class="pr-color-paper">Retour au site</h6></a>

<h4 class="pr-admin-title mb-3">Utilisateurs</h4>
<h5 class="pr-color-paper">Liste</h5>
<h5 class="pr-color-paper">Ajouter</h5>

<h4 class="pr-admin-title mb-3">FAQ</h4>
<h5 class="pr-color-paper">Liste</h5>
<h5 class="pr-color-paper">Ajouter</h5>

<h4 class="pr-admin-title mb-3">Horaires</h4>
<h5 class="pr-color-paper">Liste</h5>
<h5 class="pr-color-paper">Ajouter</h5>

<h4 class="pr-admin-title mb-3">Sujets Contact</h4>
<h5 class="pr-color-paper">Liste</h5>
<h5 class="pr-color-paper">Ajouter</h5>