<div class="accordion accordion-flush pr-FAQ-W" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header mb-2 mt-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Réserver une table ?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Nous ne faisons pas de réservation. En générale les tables se libèrent vites et
                le temps d'attente est limitée.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header mb-2 mt-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Réservation de groupe / privatisation
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Si vous souhaitez privatiser le restaurant pour un événement, nous vous invitons
                à nous contacter par téléphone ou via notre formulaire de contact disponible sur cette même page.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header mb-2 mt-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Ouvertures weekend et jours fériés ?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Les horaires d'ouverture les jours fériés sont disponibles sur nos réseaux sociaux, Facebook et Instagram.
            </div>
        </div>
    </div>
</div>