.pr-container-admin-all {
  display: flex;
  justify-content: left;
  width: 100vw;
}

.pr-container-admin-nav {
  width: 20vw;
  height: 100%;
  padding-right: 2vw;
  padding-left: 3vw;
}

.pr-container-admin-body {
  background-color: $pr-color-paper;
  width: 80vw;
  height: inherit;
  min-height: 100vh;
  padding: 5vh 5vw 0 5vh;
}

.pr-logoEntier-admin {
  width: 15vw;
  height: auto;
  margin: 2vh auto;
}

.pr-admin-title-button {
  background-color: $pr-color-slate;
  border-color: none;
}

.pr-nav-title {
  color: $pr-color-orange;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pr-admin-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pr-admin-form-input {
  width: 30vw;
  margin-bottom: 1.2rem;
}

.pr-table-admin-show {
  width: 30vw;
}


.pr-checkmark {
  background-color: $pr-color-paper;
  border: $pr-color-iceblue;
  height: 25px;
  width: 25px;
}

.pr-checkmark:checked {
  background-color: $pr-color-orange;
}