.pr-contact {
  width: 55%;
}

.pr-contact-subject {
  width: 100%;
  margin-bottom: 1.2rem;
}

.pr-contact-input{
  width: 75%;
}

.pr-contact-input select {
  @extend .pr-contact-subject;
  @extend .form-select;
  width: 100%;
}

@media screen and (max-width: 430px){
  .pr-contact {
    width: 100%;
  }

  .pr-contact-input input {
    width: 100%
  }

  .pr-contact-input select {
    width: 100%
  }
}