.pr-contact-header {
  background-image: url("../../images/FrontDoorRestaurant.jpg");
  width: auto;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  top: -15vh;
  margin-bottom: -10vh;
}

.pr-title-header-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @extend .pr-dropshadow-slate;
}

.pr-block-address {
  background-color: $pr-color-slate;
}

.pr-block-details-mixte {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  width: 75vw;
}

.pr-hours-table-day {
  width: 5vw;
}

.pr-hours-table-hours {
  width: 15vw;
  text-align: right;
}

@media screen and (max-width: 430px) {
  .pr-block-details-mixte {
    width: 85vw;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .pr-horaires-mt {
    width: 100%;
    margin-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .pr-adresse {
    align-items: center;
    margin-left: 0;
  }

  .pr-hours-table-day {
    width: 15%;
  }

  .pr-hours-table-hours {
    width: 80%;
    text-align: right;
  }
}
