.pr-accordion-button-FAQ{
  border: solid;
  border-width: 1px;
  border-color: $pr-color-iceblue;
  color: $pr-color-slate;
}

.pr-accordion-FAQ {
  --bs-accordion-border-color: none;
  --bs-accordion-active-color: $pr-color-slate;
  --bs-accordion-color: $pr-color-slate;
}

.pr-accordion-item-FAQ {
 --bs-accordion-btn-focus-border-color: $pr-color-iceblue;
  --bs-accordion-btn-color: none;
}

.pr-accordion-button-FAQ:focus {
  border-color: $pr-color-iceblue;
}

.pr-accordion-button-FAQ:not(.collapsed) {
  background-color: $pr-color-iceblue;
  color: $pr-color-slate;
}

.pr-accordion-button-FAQ:not(.collapsed)::after {
  background-color: $pr-color-iceblue;
}

.pr-FAQ-W {
  width: 75%;
}

@media screen and (max-width: 430px) {
  .pr-FAQ-W {
    width: 100%;
  }
}
