.pr-home-image {
  width: auto;
  height: 75vh;
  background-image: url("../../images/ArtisticDarkPlanche.jpg");
  background-size: cover;
  position: relative;
  top: -15vh;
  margin-bottom: -15vh;
}

.pr-logoEntier-home {
  position: absolute;
  width: 30vw;
  height: auto;
  bottom: 10vh;
  left: 10vw;
}


.pr-background-divider-home {
  background-image: url("../../images/4Slices.png");
  background-size: 100% auto;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-cadre {
  display: flex;
  margin: 0 auto;
  width: 75%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pr-1element {
  width: 100%;
}

.pr-menus {
  width: 100%;
}

.pr-title-bigFrame {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .pr-logoEntier-home {
    width: 50vw;
  }
}

@media screen and (max-width: 430px) {
  .pr-cadre {
    width: 100%;
  }
}