.pr-menu-logo {
  height: 7vh;
  width: auto;
}

.pr-background-orange {
  background-color: $pr-color-orange;
  text-align: right;
}

.pr-logo-social {
  height: 5vh;
  width: auto;
  color: $pr-color-iceblue;
}

.offcanvas {
  width: 50%;
}

@media screen and (max-width: 430px) {
  .pr-menu-logo {
    height: 5vh;
  }
  .btn {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
  }

  .offcanvas {
    width: 100%;
  }
}