$pr-title-font-family: 'Montserrat', sans-serif;
$pr-p-font-family: 'Palanquin', sans-serif;
$pr-handwriting-font-family: 'Permanent Marker', cursive;
$pr-color-paper: #FFFBF4;
$pr-color-slate: #2C2E2D;
$pr-color-orange: #FF4C00;
$pr-color-iceblue: #D5DDF0;

body {
  background-color: $pr-color-slate;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.pr-font-handwriting {
  font-family: $pr-handwriting-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $pr-title-font-family;
  color: $pr-color-slate;
}

h1 {
  font-size: 2rem;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

p {
  font-family: $pr-p-font-family;
  color: $pr-color-slate;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.pr-button-slate {
  background-color: $pr-color-slate;
  color: $pr-color-paper;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-family: $pr-title-font-family;
  font-size: 1.1rem;
  width: 12vw;
  min-width: 220px;
  display: flex;
  justify-content: center;
}
.pr-button-slate:hover {
  background-color: $pr-color-slate;
  color: $pr-color-paper;
  box-shadow: 1px 1px 6px 0 $pr-color-orange, -1px -1px 6px 0 $pr-color-orange, 1px -1px 6px 0 $pr-color-orange, -1px 1px 6px 0 $pr-color-orange;
}

.pr-button-orange {
  background-color: $pr-color-orange;
  color: $pr-color-paper;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-family: $pr-title-font-family;
  font-size: 1.1rem;
  width: 12vw;
  min-width: 220px;
  display: flex;
  justify-content: center;
}

.pr-button-orange:hover {
  background-color: $pr-color-orange;
  color: $pr-color-paper;
  box-shadow: 1px 1px 6px 0 $pr-color-slate, -1px -1px 6px 0 $pr-color-slate, 1px -1px 6px 0 $pr-color-slate, -1px 1px 6px 0 $pr-color-slate;
}

.pr-button-ice {
  background-color: $pr-color-iceblue;
  color: $pr-color-orange;
  border: 1px solid $pr-color-orange;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-family: $pr-title-font-family;
  font-size: 1.1rem;
  width: 12vw;
  min-width: 220px;
  display: flex;
  justify-content: center;
}

.pr-button-mini-ice {
  background-color: $pr-color-iceblue;
  color: $pr-color-orange;
  border: 1px solid $pr-color-orange;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-family: $pr-title-font-family;
  font-size: .8rem;
  width: 7vw;
  min-width: 90px;
  display: flex;
  justify-content: center;
}

.pr-button-ice:hover {
  background-color: $pr-color-iceblue;
  color: $pr-color-slate;
  box-shadow: 1px 1px 6px 0 $pr-color-slate, -1px -1px 6px 0 $pr-color-slate, 1px -1px 6px 0 $pr-color-slate, -1px 1px 6px 0 $pr-color-slate;
}
.pr-button-mini-ice:hover {
  background-color: $pr-color-iceblue;
  color: $pr-color-slate;
  box-shadow: 1px 1px 6px 0 $pr-color-slate, -1px -1px 6px 0 $pr-color-slate, 1px -1px 6px 0 $pr-color-slate, -1px 1px 6px 0 $pr-color-slate;
}

.pr-container-txt {
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}

.pr-color-paper {
  color: $pr-color-paper;
}

.pr-color-iceblue {
  color: $pr-color-iceblue;
}

.pr-color-orange {
  color: $pr-color-orange;
}

.pr-dropshadow-slate {
  text-shadow: 4px 4px 10px $pr-color-slate, -4px -4px 10px $pr-color-slate;
}

.pr-container-all {
  width: 75vw;
  margin: 0 auto;
  background-color: $pr-color-paper;
}

.pr-alert-position{
  z-index: 3;
  width: 75vw;
  margin-left: 12.5vw;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .pr-container-all {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 1.5rem;
    margin-top: 2.7rem;
    margin-bottom: 2.5rem;
  }

  h2 {
    font-size: 1.3rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  h4 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .9rem;
  }

  p {
    font-size: 1rem;
  }

  .pr-container-txt {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
  }

  table {
    width: 70vw;
  }

  td {
    font-size: 0.9rem;
  }
}