$pr-title-font-family: 'Montserrat', sans-serif;
$pr-p-font-family: 'Palanquin', sans-serif;
$pr-handwriting-font-family: 'Permanent Marker', cursive;
$pr-background-color: #FFFBF4;


body {
  background-color: $pr-background-color;
  margin: 0;
  padding: 0;
}

.pr-container-all{

}