{% extends 'base_admin.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

    <div class= "pr-welcome d-flex justify-content-center align-items-center w-50 m-auto p-5">
    <h1 class="">Bienvenue {{ user.firstname }} !</h1>
    </div>

{% endblock %}