{% extends 'base.html.twig' %}

{% block title %}Contact et FAQ{% endblock %}

{% block body %}
    <div>
        {% include "includes/_navbar.html.twig" %}
        <div class="pr-contact-header">
            <h2 class="pr-color-paper pr-dropshadow-slate pr-title-header-contact w-75">VOUS SENTEZ LA BONNE ODEUR DE PIZZA
                ?</h2>
        </div>

        <section class="pr-container-txt">

            <div class="pr-block-address">

                <h4 class="pr-color-paper fw-light text-center pr-title-PR">POUPETTE ET RONRON</h4>
                <div class="d-flex justify-content-center">
                    <section class="pr-block-details-mixte">
                        <div class="pr-adresse d-flex flex-column">
                            <h5 class="pr-color-paper mb-3 fw-light">Adresse :</h5>
                            <p class="pr-color-paper m-0 fw-light">329 Cr de la Libération</p>
                            <p class="pr-color-paper m-0 fw-light">33400 Talence</p>
                            <p class="pr-color-paper mt-4 fw-light">Tel. 05 56 78 65 89</p>
                        </div>
                        <div class="pr-horaires-mt">
                            <h5 class="pr-color-paper fw-light">Horaires :</h5>
                            <table class="pr-hours-table pr-color-paper fw-light">
                                {% for openingHour in openingHours %}
                                <tr>
                                    <td class="pr-hours-table-day">{{ openingHour.day }}</td>
                                    <td class="pr-hours-table-hours">{{ openingHour.description }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                    </section>
                </div>

                <div class="pr-map-responsive d-flex justify-content-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11322.212493470031!2d-0.5914536!3d44.8102951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527778d707d13%3A0x2521ba06d14e4554!2sTwist%20&#39;N&#39;%20Cr%C3%AApes!5e0!3m2!1sfr!2sfr!4v1689514294899!5m2!1sfr!2sfr"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade" class="mb-3"></iframe>
                </div>
            </div>

            <div class="d-flex justify-content-center flex-column align-items-center">
                <h4 class="fw-light text-center pt-5">FAQ</h4>
                {% include "includes/FAQ.html.twig" %}
            </div>

            <div class="pr-box pr-contact d-flex justify-content-center flex-column align-items-center mx-auto mt-5 pb-4">
                <h4 class="fw-light text-center pt-5 mt-0">CONTACTEZ-NOUS</h4>
                {% include "includes/contact.html.twig" %}
            </div>

        </section>
    </div>

{% endblock %}