{% extends 'base_admin.html.twig' %}

{% block title %}Contact Form Subjects{% endblock %}

{% block body %}

    <div class="pr-admin-header">
        <h1 class="pr-color-orange mt-0 mb-5">Sujets boite contact</h1>
        <h4>Modifier</h4>
    </div>

    {{ include('contact_subject/_form_edit.html.twig', {'button_label': 'Mettre à jour'}) }}

    <button class="btn pr-button-ice"><a href="{{ path('app_contact_subject') }}">Retour à la liste</a></button>

    {#{{ include('faq/_delete_form.html.twig', {'id': faq.id}) }}#}

{% endblock %}