<h1 class="mb-3">Bonjour,</h1>

<p><b>{{ firstname }} {{ lastname}}</b> vous a envoyé le message suivant :</p>


<p><em>"{{ message }}"</em></p>

<p>Bonne journée</p>

<h3>Le site de Poupette et Ronron</h3>