<h1>Bonjour {{ firstname }}</h1>

<p>Vous avez envoyé le message suivant :</p>

<p><em>"{{ message }}"</em></p>

<p>Nous vous répondrons dans les plus brefs délais</p>

<p>A très bientôt chez Poupette et Ronron !</p>

<h3>L'équipe Poupette et Ronron</h3>