{% extends 'base_admin.html.twig' %}

{% block title %}Subject contact box{% endblock %}

{% block body %}

    <div class="pr-admin-header">
        <h1 class="pr-color-orange mt-0 mb-5">Sujets boite contact</h1>
    </div>

    <div class="pr-box w-50 m-auto p-3 d-flex flex-column align-items-center">
        <h3 class="mt-3 mb-4">Ajouter un sujet</h3>
        {{ include('contact_subject/_form_new.html.twig', {'button_label': 'Ajouter'}) }}
    </div>


{% endblock %}