{% extends 'base_admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="pr-admin-header">
        <h1 class="pr-color-orange mt-0 mb-5">Utilisateur</h1>
        <h4>Modifier</h4>
    </div>

    {{ include('user/_form_edit_user.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('user/_delete_form.html.twig') }}

{% endblock %}
