{% extends 'base_admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="pr-admin-header">
            <h1 class="pr-color-orange mt-0 mb-5">Utilisateur</h1>
            <h4>Ajouter</h4>
        </div>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>

    {% endif %}
{% endblock %}
